<html>

<head>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>
    <% for (i=0; i<listTypes.length; i++){%>
        <div>
        <a href="/index/<%=listTypes[i].name%>"><%=listTypes[i].name%></a>
    <form id="<%=listTypes[i].name%>" method="post" action="/listTypes/delete/<%=listTypes[i].name%>">
        <input type="hidden">
    </form>
    <button class='btn btn-primary' onclick='document.getElementById("<%=listTypes[i].name%>").submit()'>Delete</button>
       
</div>
        
    <%};%>

    Add a List Type

    <form action=/listTypes method="POST">
        <input type="text" name="name">
        <button>
            Submit!
        </button>
    </form>


</body>


</html>