<html>

<head>
    <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>

   

    <% for (i=0; i<listItems.length; i++){%>
        <li id=<%=listItems[i].name%>><%=listItems[i].name%></li>
        <form id="<%=listItems[i].name%>1" method="post" action="/listItems/delete/<%=listItems[i].name%>">
            <input type="hidden">
        </form>
        <button class='btn btn-primary' onclick='document.getElementById("<%=listItems[i].name%>1").submit()'>Delete</button>
        <button class='btn btn-primary' onclick='document.getElementById("<%=listItems[i].name%>").style.setProperty("text-decoration", "line-through");'>Finish</button>
           
    </div>
        
        <%
    };%>

    Add a List Item

   

    <form action=/listItems method="POST">
        <input type="text" name="name" id=1s>
        <button>
            Submit!
        </button>
    </form>
<!--
    Add a List, to Big Lists!
    <form action=/addList method="POST">
        <input type="text" name="input">
        <button>
            Submit!
        </button>
    </form>

    Add a item, to big list 2!
    <form action=/addListItem method="POST">
        <input type="text" name="input">
        <button>
            Submit!
        </button>
    </form> -->


</body>


</html>